* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("pictures/Header-bg.jpg");
    background-size: cover;
}

.about{
    color: white;
    padding: 20px;
    border-radius: 20px;
    margin: 20px auto;
    width: 88%;
}

.header {
    color: white;
    text-align: center;
}
.header h1 {
    font-size: 750%;
}
.header h6 {
    font-size: 15px;
}
nav {
    margin-top:10px;
    color: white;
    padding: 10px;

}
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    font-size: 18px;
}
nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 8px;
    border-radius: 20px;
    font-size: 18px;
    font-weight: 500;
}

nav ul li a:hover {
    text-decoration: underline;
    background-color: rgba(255, 255, 255, 0.3);
}

.boxed-content{
    width: 80%;
    margin: 0 auto;
    color: white;
    line-height: 2.5;
    padding: 20px;
    border-radius: 10px;
}
.boxed-content ul{
    padding-left: 25px;
}

#lists{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

#TheProject, #HowToUse, #Contributions, #lists {
    margin: 25px auto;
    width: 80%;
    padding: 20px;
    border-radius: 10px;
}

#HowToUse {
    margin-top:-70px
}   

#HowToUse ol {
    padding-left: 40px;
}

a {
    color: rgb(255, 255, 255);
}

a:hover {
    color: rgb(100, 100, 100);
    text-decoration: underline;
}

footer {
    background-color: rgba(0, 0, 0, 0.7);
    line-height: 2.5;
    color: white;
    text-align: center;
    padding: 20px;
    bottom: 0;
    width: 100%;

}







table {
    width: 70%;
    border-collapse: collapse;
    margin-bottom: 20px;
    margin: 0 auto;
    color: #000000;
    font-size: 1em;
    text-align: center;
    line-height: 1.5;
    border: 1px solid #000000;
    border-radius: 20px;
    overflow: hidden;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:nth-child(odd) {
    background-color: #ffffff;
}

table tr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

tbody tr td, thead tr th {
    padding: 7px;
}
tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
    cursor: pointer;
}

thead {
    background-color: #646464;
    color: #000000;
}

#stocks-simulator {
    color: #f1f1f1;
    text-align: center;
    line-height: 2.5;
    margin-top:-180px;
}


#actions input {
  padding: 5px;
  margin-right: 5px;
}

#actions button {
  padding: 5px 10px;
  margin-right: 5px;
  cursor: pointer;
  background-color: #17cef8;
  border: none;
  color: #000;
  font-weight: bold;
}

.change-positive {
  color: rgb(21, 250, 0);
}

.change-negative {
  color: rgb(255, 0, 0);
}

#graph-section {
  margin-top: 40px;
}

#graph-section select {
  padding: 5px;
  margin-bottom: 10px;
  background-color: #1f1f1f;
  color: #fff;
  border: 1px solid #555;
}
